#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  grid-gap: 10px;
  margin: 0 auto;
  color: black;
}

.decks li {
  border: 2px solid black;
  position: relative;
  display: flex;
  height: 120px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
  border: 1px solid red;
}
