.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Deck form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.Deck h1 {
  font-size: 38px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  grid-gap: 10px;
  margin: 0 auto;
  color: black;
}

.cards li {
  padding-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 30px;
  border: 2px solid black;
  position: relative;
  display: flex;
  height: 120px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.cards li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
  border: 1px solid red;
}
